<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo App</title>
    <link rel="stylesheet" href="{{url_for("static", filename="styles/style.css")}}">
</head>
<body>
    <div class="container">
        <h1>ToDo List</h1>
        <form action="/add" method="POST">
            <input type="text" name="title" placeholder="Add new task">
            <input type="submit" value-"Add">
        </form>
        <ul>
            {% for todo in todos %}
                <li class="{{"completed" if todo.complete else''}}">
                    {{todo.title}}
                    <a href="/update/{{loop.index0}}">Complete</a>
                    <a href="/delete/{{loop.index0}}">Delete</a>
                </li>
            {% endfor %}
         </ul>
     </div>
</body>
</html>

