body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #fff;
    color: #333;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
}

a {
    margin-left: 10px;
    color: blue;
    text-decoration: none;
}
